<mat-card>
  <mat-card-title>Login</mat-card-title>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" placeholder="E-mail">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Senha">
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Login
      </button>
    </div>
  </form>
</mat-card>
