<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title">Bem Vindo!</mat-card-title>

  <mat-card-subtitle class="subtitle">
    Sistema de gerenciamento de clientes em Angular
  </mat-card-subtitle>

  <mat-card-content>
    <p>
      Nosso sistema de gerenciamento de clientes oferece uma interface intuitiva e eficiente
      para ajudar você a gerenciar todas as informações dos seus clientes de forma organizada
      e acessível. Utilize as funcionalidades de cadastro, edição, exclusão e visualização
      de dados para manter suas informações sempre atualizadas. Aproveite todas as vantagens
      de um sistema moderno e otimizado com o poder do Angular.
    </p>
  </mat-card-content>
</mat-card>
