<mat-card>
  <mat-card-title>Excluir Cliente</mat-card-title>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" [(ngModel)]="client.name" name="name" [ngModelOptions]="{standalone: true}" disabled>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input type="email" matInput placeholder="E-mail" [(ngModel)]="client.email" name="email" [ngModelOptions]="{standalone: true}" disabled>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button (click)="deleteClient()" color="warn">
        Excluir
      </button>
      <button mat-raised-button (click)="cancel()">
        Cancelar
      </button>
    </div>
  </form>
</mat-card>
