<mat-card>
  <mat-card-title>Alterar Cliente</mat-card-title>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" [(ngModel)]="client.name" name="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input type="email" matInput placeholder="E-mail" [(ngModel)]="client.email" name="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input type="password" matInput placeholder="Senha" [(ngModel)]="client.password" name="password">
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button (click)="updateClient()" color="primary">
        Salvar
      </button>
      <button mat-raised-button (click)="cancel()">
        Cancelar
      </button>
    </div>
  </form>
</mat-card>
